<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdan.document.dao.DiskMapper">
  <resultMap id="BaseResultMap" type="com.itdan.document.domain.Disk">
    <id column="disk_id" jdbcType="INTEGER" property="diskId" />
    <result column="disk_name" jdbcType="VARCHAR" property="diskName" />
    <result column="disk_type" jdbcType="VARCHAR" property="diskType" />
    <result column="free_space" jdbcType="VARCHAR" property="freeSpace" />
    <result column="total_space" jdbcType="VARCHAR" property="totalSpace" />
  </resultMap>


<!--根据ID获取磁盘信息-->
  <select id="getDiskById" parameterType="Integer" resultMap="BaseResultMap">
      select * from  disk
      where
      <if test="diskId!=null">
        disk_id=#{diskId,jdbcType=INTEGER}
      </if>
  </select>

<!--从数据库中查询磁盘列表-->
  <select id="getDiskList" resultMap="BaseResultMap">
    SELECT * from  disk
  </select>

  <!--添加磁盘对象-->
  <insert id="addDisk" parameterType="com.itdan.document.domain.Disk">
   INSERT  into  disk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diskId != null" >
        disk_id,
      </if>
      <if test="diskName != null" >
        disk_name,
      </if>
      <if test="diskType != null" >
        disk_type,
      </if>
      <if test="freeSpace != null" >
        free_space,
      </if>
      <if test="totalSpace != null" >
      total_space
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diskId != null" >
        #{diskId,jdbcType=INTEGER},
      </if>
      <if test="diskName != null" >
        #{diskName,jdbcType=VARCHAR},
      </if>
      <if test="diskType != null" >
        #{diskType,jdbcType=VARCHAR},
      </if>
      <if test="freeSpace != null" >
        #{freeSpace,jdbcType=VARCHAR},
      </if>
      <if test="totalSpace != null" >
        #{totalSpace,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>