<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdan.document.dao.DocumentFileMapper" >
  <resultMap id="BaseResultMap" type="com.itdan.document.domain.DocumentFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_point" property="parentPoint" jdbcType="INTEGER" />
    <result column="children_point" property="childrenPoint" jdbcType="INTEGER" />
    <result column="document" property="document" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
    <result column="file_addr" property="fileAddr" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_date" property="fileDate" jdbcType="TIMESTAMP" />
    <result column="backups" property="backups" jdbcType="INTEGER" />
    <result column="change_date" property="changeDate" jdbcType="TIMESTAMP" />
    <result column="diskName" property="diskName" jdbcType="VARCHAR" />
  </resultMap>


  <!--添加文档对象-->
  <insert id="addDocumentFile" parameterType="com.itdan.document.domain.DocumentFile">
    INSERT  into  document_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentPoint != null" >
      parent_point,
    </if>
      <if test="isParent != null" >
        is_parent,
      </if>
      <if test="document != null" >
        document,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileAddr != null" >
        file_addr,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileDate != null" >
        file_date,
      </if>
      <if test="backups != null" >
        backups,
      </if>
      <if test="changeDate != null" >
        change_date,
      </if>
      <if test="diskName != null" >
        diskName
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentPoint != null" >
        #{parentPoint,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=INTEGER},
      </if>
      <if test="document != null" >
        #{document,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null" >
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileDate != null" >
        #{fileDate,jdbcType=TIMESTAMP},
      </if>
      <if test="backups != null" >
        #{backups,jdbcType=INTEGER},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="diskName != null" >
        #{diskName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--根据父类ID获取相应的文档对象-->
  <select id="getListByParentId" parameterType="Integer" resultMap="BaseResultMap">
    select * from document_file
    where
    <if test="parentId != null" >
    parent_point=#{parentId}
    </if>
  </select>
</mapper>